@model GeoSit.Data.BusinessEntities.Mantenimiento.AtributoTA
<div class="form-group clearfix">
    <label class="control-label col-xs-4 text-right">@Model.Nombre @(Model.Es_Obligatorio ? "*" : "")</label>
    <div class="col-xs-8">
        <input name="Parametros[@Model.Campo]" type="text" maxlength="@Model.Precision.ToString()" value="@Model.Valor" class="form-control margin-bottom" @(Model.Es_Obligatorio ? "required=\"required\"" : "") />
    </div>
</div>