@model GeoSit.Client.Web.Models.Usuario
@{
    ViewBag.Title = "Login";
    ViewBag.AppName = "GeoSIT";
}
@section styles
{
    <link href="~/Content/login.css" rel="stylesheet" />
    <style>
        body {
            background: url('~/../../Content/images/background.jpg');
            background-size: cover;
        }

        .field-validation-error {
            color: darkred;
            font-size: small;
        }
    </style>
}

<div class="modal fade" id="changePassword" tabindex="-3" style="z-index:100" role="dialog" aria-labelledby="TituloInfo" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title col-xs-11" id="TituloInfo">CAMBIAR CONSTRASEÑA</h4>
                <br />
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CambiarPassword", "Account"))
                {
                    @Html.AntiForgeryToken()

                    <div class="center-block prompt">
                        <span id="prompt" class="text-muted">Ingrese su nombre de usuario y contraseña</span>
                    </div>
                    <div class="form-group" data-ng-class="{'has-error': vm.submitAttempted && vm.form.userName.$invalid}">
                        <label>Usuario:</label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Login, new { @class = "form-control", required = true, })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Login)
                    </div>
                    <div class="form-group" data-ng-class="{'has-error': vm.submitAttempted && vm.form.password.$invalid}">
                        <label>Contrase&ntilde;a Anterior:</label>
                        <div class="input-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = true, autofocus = "" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group" data-ng-class="{'has-error': vm.submitAttempted && vm.form.password.$invalid}">
                        <label>Nueva Contrase&ntilde;a:</label>
                        <div class="input-group">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", required = true })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div class="form-group" data-ng-class="{'has-error': vm.submitAttempted && vm.form.password.$invalid}">
                        <label>Confirmar Contrase&ntilde;a:</label>
                        <div class="input-group">
                            @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control", required = true })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                    </div>
                    <div class="form-group buttons">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <button type="submit" id="loginbtn" class="btn btn-primary pull-right">Cambiar Clave</button>
                    </div>
                    <div class="clearfix"></div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            //$('#loginbtn').click(function (e) {
            //    $("#form").submit();
            //    e.preventDefault();

            //});
            $("#changePassword").modal('show');
        });
    </script>
}

