@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Models
@using GeoSit.Client.Web
@model GeoSit.Client.Web.Models.ValidarUsuarioModel
@{
    ViewBag.Title = "¿No puedes acceder a tu cuenta?";
    ViewBag.Description = "";
}


@section styles
{
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/theme_new.css" rel="stylesheet" />

    <style>
        body {
            background: url('~/../../Content/images/background.jpg') center center no-repeat;
            background-size: cover;
        }
    </style>
}
<div class="modal theme_new" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="scroll-content">
                <div class="modal-header">
                    <h3 class="modal-title">@ViewBag.Title</h3>
                    <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right"
                          data-dismiss="modal" aria-label="Cerrar" title="Cerrar" id="cerrar"></span>
                </div>
                <div class="modal-body">
                    <div class="body-content">
                        <div class="panel-group accordion" id="accordion" role="tablist" style="margin-bottom:0;" aria-multiselectable="true">
                            <div class="panel accordion-section" style="border: none;">
                                <div class='panel-heading bg-primary main-heading' role='tab' id='headingPassword'>
                                    <a role="button" data-toggle='collapse' data-parent='#accordion' href='#collapsePassword'
                                       aria-expanded='@(ViewData["password"]!=null?"true": "false")' aria-controls='collapsePassword' class="@(ViewData["password"]!=null?"": "collapsed")">
                                        <div class='panel-title'>
                                            He olvidado mi contrase&ntilde;a
                                            <i class="fa"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id='collapsePassword' class='panel-collapse collapse main-collapse @(ViewData["password"]!=null?"in": "")' role="tabpanel" aria-expanded='@(ViewData["password"]!=null?"true": "false")' aria-labelledby='headingPassword'>
                                    <div class="panel-body">
                                        <div class="col-xs-12" style="display: inline-grid;">
                                            @using (Html.BeginForm("ValidatePass", "Account", new { }, FormMethod.Post, new { id = "formPass", role = "form", novalidate = "" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="form-inline">
                                                    <div class="form-group col-xs-8" style="padding-top: 15px;">
                                                        <div class="row remove-margin">
                                                            <label>Ingrese su D.N.I:</label>
                                                            @Html.TextBoxFor(model => model.Nro_doc, new { @maxlength = "20" })
                                                        </div>
                                                        <div class="row remove-margin">
                                                            <div class="col-xs-12 remove-padding">
                                                                @Html.Hidden(MvcApplication.MultipleParameterKey, 0)
                                                                @Html.Captcha("Refrescar", "Escriba los caracteres que observa:", 5, "Es un texto requerido", true, new ParameterModel(MvcApplication.MultipleParameterKey, 0), new ParameterModel("name", "captcha"))
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel accordion-section" style="border: none;">
                                <div class='panel-heading bg-primary main-heading' role='tab' id='headingAccount'>
                                    <a role="button" data-toggle='collapse' data-parent='#accordion' href='#collapseAccount'
                                       aria-expanded='@(ViewData["account"]!=null?"true": "false")' aria-controls='collapseAccount' class="@(ViewData["account"]!=null?"": "collapsed")">
                                        <div class='panel-title'>
                                            Recuerdo mi contrase&ntilde;a pero no puedo iniciar sesi&oacute;n
                                            <i class="fa"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id='collapseAccount' class='panel-collapse collapse main-collapse @(ViewData["account"]!=null?"in": "")' role="tabpanel" aria-expanded='@(ViewData["account"]!=null?"true": "false")' aria-labelledby='headingAccount'>
                                    <div class="panel-body">
                                        <div class="col-xs-12">
                                            @using (Html.BeginForm("ValidateAccount", "Account", new { }, FormMethod.Post, new { id = "formAccount", role = "form", novalidate = "" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="form-inline">
                                                    <div class="form-group col-xs-8" style="padding-top: 15px;">
                                                        <div class="row remove-margin">
                                                            <label>Ingrese su D.N.I:</label>
                                                            @Html.TextBoxFor(model => model.Nro_doc, new { @maxlength = "20" })
                                                        </div>
                                                        <div class="row remove-margin">
                                                            <div class="col-xs-12 remove-padding">
                                                                @Html.Hidden(MvcApplication.MultipleParameterKey, 1)
                                                                @Html.Captcha("Refrescar", "Escriba los caracteres que observa:", 5, "Es un texto requerido", true, new ParameterModel(MvcApplication.MultipleParameterKey, 1), new ParameterModel("name", "captcha"))
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-4 pull-right">
                        <span id="btnGrabar" aria-hidden="true" data-placement="right" title="Guardar" data-original-title="Guardar" class="fa fa-check-circle fa-3x light-blue @(ViewData["account"]!=null || ViewData["password"]!=null?"": "boton-deshabilitado") cursor-pointer"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Información-->
<div class="modal fade theme_new mensaje" id="ModalInfo" tabindex="-2" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="TituloInfo">Titulo Modal</h3>
                <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
            </div>
            <div class="modal-body" style="word-wrap:break-word;">
                <div class="alert alert-dismissible" role="alert">
                    <p id="DescripcionInfo">Mensaje</p>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/formValidation.min.js"></script>
    <script src="~/Scripts/bootstrapValidation.min.js"></script>
    <script src="~/Scripts/jquery.inputmask.js"></script>
    <script src="~/Scripts/jquery.inputmask.numeric.extensions.js"></script>
    <script>
        $(document).ready(function () {
            var submit = function () {
                var form = $('form', '[role="tabpanel"].in');
                if (!$('[name="Nro_doc"]', form).val() || !$('[type="text"][name^="Captcha"]', form).val()) {
                    mostrarMensaje(['Debe completar ambos campos para continuar.'], 'Datos Incompletos', 'alert-warning');
                    return;
                }
                $(form).submit();
            };
            var mostrarMensaje = function (mensajes, titulo, tipo) {
                $('#TituloInfo').html(titulo);
                $('#DescripcionInfo').html(mensajes.join("<br />"));
                $("[role='alert']", "#ModalInfo").removeClass("alert-danger alert-warning").addClass(tipo);
                $(".modal-footer", "#ModalInfo").hide();
                if (tipo === "alert-info") {
                    $(".modal-footer", "#ModalInfo").show();
                }
                $("#ModalInfo").modal('show');
            };

            var timeout;
            $("#cerrar").click(function () {
                window.location.assign("@Url.Action("Login", "Account")");
            });
            $('[name="Nro_doc"]').inputmask('numeric', { rightAlign: false });
            @if (!string.IsNullOrEmpty(Model.Mensaje))
            {
            <text>
            mostrarMensaje(['@Model.Mensaje'], 'Error', 'alert-danger');
            </text>
            }
            $('[role="tabpanel"]').on('hidden.bs.collapse', function () {
                timeout = setTimeout(function () {
                    $("#btnGrabar").addClass('boton-deshabilitado');
                }, 100);
            });
            $('[role="tabpanel"]').on('shown.bs.collapse', function () {
                clearTimeout(timeout);
                $("#btnGrabar").removeClass('boton-deshabilitado');
            });
            $("#btnGrabar").click(submit);

            $('#myModal').modal('show');
        });
    </script>
}
