@model GeoSit.Client.Web.Models.Usuario

<link rel="stylesheet" href="~/Content/UserChangePassword.css" />

<div class="modal fade theme_new" id="userChangePassword" tabindex="-1" role="dialog" aria-labelledby="TituloInfo" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="scroll-content">
                <div id="message-error" class="alert alert-danger">
                    <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    <p></p>
                </div>
                <div class="modal-header">
                    <h3 class="modal-title" id="lblModalChangePassword">@Resources.Recursos.CambiarContraseña</h3>
                    <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
                </div>
                <div class="modal-body">
                    <div class="body-content">
                        @using (Ajax.BeginForm("UsuarioCambiarPassword", "Account", null, new AjaxOptions { HttpMethod = "POST" }, new { id = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="Password">Contrase&ntilde;a Anterior:</label>
                                <div class="input-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    <span class="input-group-addon">
                                        <span class="fa fa-lg fa-lock"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Password">Nueva Contrase&ntilde;a:</label>
                                <div class="input-group">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                    <span class="input-group-addon">
                                        <span class="fa fa-lg fa-lock"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:0">
                                <label>Confirmar Contrase&ntilde;a:</label>
                                <div class="input-group">
                                    @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
                                    <span class="input-group-addon">
                                        <span class="fa fa-lg fa-lock"></span>
                                    </span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-4 pull-right">
                        <span role="button" data-placement="right" title="Guardar" data-original-title="Guardar" id="save" class="fa fa-save fa-2x black  pull-right cursor-pointer"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade theme_new mensaje" id="confirmModal" tabindex="-2" role="dialog" aria-labelledby="TituloAdvertencia" aria-hidden="true" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="TipoAdvertencia" value="">
                <h3 class="modal-title" id="TituloAdvertencia">Titulo</h3>
                <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
            </div>
            <div class="modal-body">
                <div id="MensajeAlerta" class="alert alert-dismissible" role="alert">
                    <strong>Atención!</strong><br>
                    <p id="DescripcionAdvertencia">Está a punto de DESACTIVAR al usuario Perez, Juan <br>Está seguro de continuar?</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/formValidation.min.js"></script>
<script src="~/Scripts/bootstrapValidation.min.js"></script>
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/UserChangePassword/main.js"></script>

