@model GeoSit.Data.BusinessEntities.ObrasPublicas.TipoTramite

@{
    ViewBag.Title = "Configuración de Informes y Certificados";
    ViewBag.AccionProfesion = "";

    ViewBag.Nombre = "";
    ViewBag.Numerador = 0;
    ViewBag.idTipoTramite = 0;
    ViewBag.Autonumerico = 0;
    ViewBag.ImprimeCab = 0;
    ViewBag.ImprimeUts = 0;
    ViewBag.ImprimeFinal = 0;
    ViewBag.ImprimePer = 0;
    ViewBag.PlantillaFinal = "";


    ViewBag.NombreInformeFinal = "";
    ViewBag.TextoInformeFinal = "";

    ViewBag.NombreInformeSeccion = "";
    ViewBag.TextoInformeSeccion = "";

    ViewBag.UsuarioAltaId = 0;
    ViewBag.FechaAlta = "";
    ViewBag.UsuarioModifId = 0;
    ViewBag.FechaModif = "";
    ViewBag.UsuarioBajaId = 0;
    ViewBag.FechaBaja = "";

    ViewBag.ModoEdicion = "false";
}

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/abmTramite.css" rel="stylesheet" />

<div class="modal fade" id="modal-window-tramite" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="modal-windowLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="scroll-content-tramite">
                <div class="modal-header">
                    <h3 class="modal-title col-lg-11 col-xs-11 col-sm-11 col-md-11" style="font-size: 20px;" id="lblModalTramite">@ViewBag.Title</h3>
                    <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer" style="padding-top:3px;" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
                </div>
                @*Fin de modal-header*@
                <div class="modal-body tramite-body">
                    <div id="body-content-tramite" class="tramite-content">
                        @*Inicio de listado*@
                        <div class="panel panel-group tramite-listado" id="panel_listado_tramites">
                            <div class='panel-heading bg-primary main-heading' role='tab' id='headingListado'>
                                <a data-toggle='collapse' aria-expanded='true'>
                                    <div class='panel-title'>
                                        Lista de Trámites
                                    </div>
                                </a>
                            </div>
                            <div class="panel-body" id="Panel_Grilla_Tramites">
                                <div class="resultados col-xs-11">
                                    <table id="Grilla_Tramites" class="table table-striped table-bordered table-responsive">
                                        <thead>
                                            <tr>
                                                <th class="hide"></th>
                                                <th> Nombre</th>
                                                <th> Secciones adicionales</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="hide"></th>
                                                <td> Certificado de Uso Suelo</td>
                                                <td> 4 </td>
                                            </tr>
                                            <tr>
                                                <th class="hide"></th>
                                                <td> Certificado de Habilitación Comercial</td>
                                                <td> 2 </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="resultados col-xs-1" id="tramite-controls">
                                    <dl>
                                        <dt><span id="btn_Agregar" class="fa fa-plus-circle fa-2x black cursor-pointer" aria-hidden="true"></span></dt>
                                        <dt><span id="btn_Eliminar" class="fa fa-minus-circle fa-2x black cursor-pointer boton-deshabilitado" aria-hidden="true"></span></dt>
                                        <dt><span id="btn_Modificar" class="fa fa-pencil fa-2x black cursor-pointer boton-deshabilitado" aria-hidden="true"></span></dt>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        @*Fin de listado*@

                        @*Inicio de accordion*@
                        <div class="panel-group accordion tramite-datos" id="accordion-tramite">
                            @*Inicio Datos Tramite*@
                            @using (Ajax.BeginForm("Save_DatosTramite", "TipoTramite", new AjaxOptions { OnBegin = "return ValidarDatos()" }, new { id = "form", role = "form", novalidate = "", enctype = "multipart/form-data" }))
                            {@Html.AntiForgeryToken()

                            <div id="div_informacion_tramite" style="margin-bottom: 3px; margin-top: 0;">
                                <div class='panel-heading bg-primary main-heading panel-deshabilitado' role='region' id='headingTramiteInfo'>
                                    <a data-toggle='collapse' data-parent='#accordion-tramite' href='#collapseTramiteInfo' aria-expanded='false'
                                       aria-controls='collapseTramiteInfo' class="collapsed">
                                        <div class='panel-title'>
                                            Datos de Configuración
                                            <i class="fa"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id='collapseTramiteInfo' class='panel-collapse collapse main-collapse' aria-labelledby='headingTramiteInfo'>
                                    <div class="panel-body">
                                        @Html.Hidden("ModoEdicion", "false")
                                        @Html.Hidden("EstadoOperacion", "Consulta")
                                        @Html.HiddenFor(model => model.Id_Tipo_Tramite, new { id = "txtId_Tipo_Tramite" })
                                        @Html.HiddenFor(model => model.Autonumerico, new { id = "txtAutonumerico" })
                                        @Html.HiddenFor(model => model.Imprime_Cab, new { id = "txtImprime_Cab" })
                                        @Html.HiddenFor(model => model.Imprime_Doc, new { id = "txtImprime_Doc" })
                                        @Html.HiddenFor(model => model.Imprime_UTS, new { id = "txtImprime_UTS" })
                                        @Html.HiddenFor(model => model.Imprime_Final, new { id = "txtImprime_Final" })
                                        @Html.HiddenFor(model => model.Imprime_Per, new { id = "txtImprime_Per" })
                                        @Html.HiddenFor(model => model.Fecha_Baja, new { id = "txtFecha_Baja" })
                                        @Html.HiddenFor(model => model.Id_Usu_Baja, new { id = "txtId_Usu_Baja" })
                                        @Html.HiddenFor(model => model.Fecha_Alta, new { id = "txtFecha_Alta" })
                                        @Html.HiddenFor(model => model.Id_Usu_Alta, new { id = "txtId_Usu_Alta" })
                                        @Html.HiddenFor(model => model.Fecha_Modif, new { id = "txtFecha_Modif" })
                                        @Html.HiddenFor(model => model.Id_Usu_Modif, new { id = "txtId_Usu_Modif" })
                                        <div class="panel-body escala_fuente_11 col-lg-4 col-xs-4 col-sm-4 col-md-4">
                                            Nombre
                                        </div>
                                        <div class="panel-body escala_fuente_11 col-lg-8 col-xs-8 col-sm-8 col-md-8">
                                            @Html.TextBoxFor(model => model.Nombre, new { id = "txtNombre", @class = "form-control", @maxlength = "80" })
                                        </div>

                                        <div class="panel-body escala_fuente_11 col-lg-5 col-xs-5 col-sm-5 col-md-5 hidden">
                                            <input type="checkbox" id="EsAutonumerico" name="EsAutonumerico" value="Autonumérico" onchange="fnCtrlEsAutonumerico()"> Autonumérico<br>
                                        </div>
                                        <div class="panel-body escala_fuente_11 col-lg-3 col-xs-3 col-sm-3 col-md-3 hidden">
                                            Número desde
                                        </div>
                                        <div class="panel-body escala_fuente_11 col-lg-4 col-xs-4 col-sm-4 col-md-4 hidden">
                                            @Html.TextBoxFor(model => model.Numerador, new { id = "txtNumerador", @class = "form-control", @Value = ViewBag.Numerador })
                                        </div>

                                        <div class="panel-body escala_fuente_11 col-lg-12 col-xs-12 col-sm-12 col-md-12">
                                            Configuración de impresión por defecto
                                        </div>

                                        <div class="panel-body escala_fuente_11 col-lg-1 col-xs-1 col-sm-1 col-md-1">
                                            <br />
                                        </div>
                                        <div class="panel-body escala_fuente_11 col-lg-6 col-xs-6 col-sm-6 col-md-6">
                                            <input type="checkbox" id="BoolImprimeCabecera" name="BoolImprimeCabecera" value="Imprime Cabecera"> Imprime Cabecera<br>
                                        </div>
                                        <div class="panel-body escala_fuente_11 col-lg-5 col-xs-5 col-sm-5 col-md-5">
                                            <input type="checkbox" id="BoolImprimeDoc" name="BoolImprimeDoc" value="Imprime Documento"> Imprime Documento<br>
                                        </div>
                                        <div class="panel-body escala_fuente_11 col-lg-1 col-xs-1 col-sm-1 col-md-1">
                                            <br />
                                        </div>
                                        <div class="panel-body escala_fuente_11 col-lg-11 col-xs-11 col-sm-11 col-md-11">
                                            <input type="checkbox" id="BoolImprimeUnidades" name="BoolImprimeUnidades" value="Imprime Unidades Tributarias"> Imprime Unidades Tributarias<br>
                                        </div>
                                        <div class="panel-body escala_fuente_11 col-lg-1 col-xs-1 col-sm-1 col-md-1">
                                            <br />
                                        </div>
                                        <div class="panel-body escala_fuente_11 col-lg-6 col-xs-6 col-sm-6 col-md-6">
                                            <input type="checkbox" id="BoolImprimePer" name="BoolImprimePer" value="Imprime Informe Final"> Imprime Persona<br>
                                            @*<input type="checkbox" id="BoolImprimeInformeFinal" name="BoolImprimeInformeFinal" value="Imprime Informe Final"> Imprime Informe Final<br>*@
                                        </div>
                                        <div class="panel-body escala_fuente_11 col-lg-4 col-xs-4 col-sm-4 col-md-4">
                                            Agregar Sección
                                        </div>
                                        <div class="panel-body escala_fuente_11 col-lg-1 col-xs-1 col-sm-1 col-md-1">
                                            <dl>
                                                <dt><span id="btn_Agregar_seccion" class="fa fa-plus-circle fa-2x black cursor-pointer boton-deshabilitado" aria-hidden="true"></span></dt>
                                            </dl>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            @*Fin Datos Tramite*@

                            <div id="div_secciones">
                                @*<div id="div_informacion_seccion" style="margin-bottom: 3px; margin-top: 0;">
                                        <div class='panel-heading bg-primary main-heading ' role='region' id='headingTramiteseccion'>
                                            <a data-toggle='collapse' data-parent='#accordion-tramite' href='#collapseTramiteseccion' aria-expanded='false'
                                               aria-controls='collapseTramiteseccion' class="collapsed">
                                                <div class='panel-title'>
                                                    Sección
                                                    <i class="fa"></i>
                                                </div>
                                            </a>
                                        </div>
                                        <div id='collapseTramiteseccion' class='panel-collapse collapse main-collapse' aria-labelledby='headingTramiteseccion'>
                                            <div class="panel-body">
                                                <div class="panel-body escala_fuente_11 col-lg-4 col-xs-4 col-sm-4 col-md-4">
                                                    Nombre
                                                </div>
                                                <div class="panel-body escala_fuente_11 col-lg-8 col-xs-8 col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(model => model.NombreInformeSeccion, new { @class = "form-control", @Value = ViewBag.NombreInformeSeccion, @maxlength = "80" })
                                                </div>

                                                <div class="panel-body escala_fuente_11 col-lg-12 col-xs-12 col-sm-12 col-md-12">
                                                    @Html.TextAreaFor(model => model.TextoInformeSeccion, new { @class = "form-control", rows = 2, @maxlength = "20" })
                                                </div>

                                                <div class="panel-body escala_fuente_11 col-lg-1 col-xs-1 col-sm-1 col-md-1">
                                                </div>
                                                <div class="panel-body escala_fuente_11 col-lg-10 col-xs-10 col-sm-10 col-md-10">
                                                    <input type="radio" name="BoolConfiguracionImpresiónPorDefecto" value="Configuración de impresión por defecto"> Configuración de impresión por defecto<br>
                                                </div>
                                                <div class="panel-body escala_fuente_11 col-lg-1 col-xs-1 col-sm-1 col-md-1">
                                                    <span id="btn_EliminarSeccion" class="fa fa-minus-circle fa-2x black cursor-pointer boton-deshabilitado" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>


                            <div id="div_informacion_final" style="margin-bottom: 3px; margin-top: 0;">
                                <div class='panel-heading bg-primary main-heading panel-deshabilitado' role='region' id='headingTramiteFinal'>
                                    <a data-toggle='collapse' data-parent='#accordion-tramite' href='#collapseTramiteFinal' aria-expanded='false'
                                       aria-controls='collapseTramiteFinal' class="collapsed">
                                        <div class='panel-title'>
                                            Informe de Final
                                            <i class="fa"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id='collapseTramiteFinal' class='panel-collapse collapse main-collapse' aria-labelledby='headingTramiteFinal'>
                                    <div class="panel-body">
                                        <div class="panel-body escala_fuente_11 col-lg-12 col-xs-12 col-sm-12 col-md-12">
                                            @Html.TextAreaFor(model => model.Plantilla_Final, new { id = "txtPlantilla_Final", @class = "form-control", rows = 2 })
                                        </div>
                                        <div class="panel-body escala_fuente_11 col-lg-1 col-xs-1 col-sm-1 col-md-1">
                                        </div>
                                        <div class="panel-body escala_fuente_10 col-lg-10 col-xs-10 col-sm-10 col-md-10">
                                            <input type="checkbox" id="BoolImprimeInformeFinal" name="BoolImprimeInformeFinal" value="Configuración de impresión por defecto"> Configuración de impresión por defecto<br>
                                            @*<input type="checkbox" id="BoolImprimePer" name="BoolImprimePer" value="Configuración de impresión por defecto"> Configuración de impresión por defecto<br>*@
                                        </div>
                                        <div class="panel-body escala_fuente_1 col-lg-1 col-xs-1 col-sm-1 col-md-1">
                                            <span class="fa fa-file-archive-o fa-2x black cursor-pointer" id="informe-final-permisos" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        </div>
                        @*Fin accordion*@
                    </div>
                </div>
                @*Fin de modal-body*@
                <div class="modal-footer" style="background-color:#ffffff; height:50px;" id="Panel_Botones">
                    <span aria-hidden="true" style="display:none;" data-placement="right" title="Guardar" data-original-title="Guardar" id="btnGrabar" class="fa fa-save fa-2x black cursor-pointer"></span>
                    <span aria-hidden="true" style="display:none;" data-placement="right" title="Cancelar" data-original-title="Cancelar" id="btnCancelar" class="fa fa-undo fa-2x black cursor-pointer"></span>
                </div>
                @*Botones Grabar y Cancelar*@
            </div>
        </div>
    </div>
</div>
<!-- Modal Información-->
<div class="modal fade" id="ModalInfoTramite" tabindex="-1" role="dialog" aria-labelledby="TituloInfo" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title col-lg-11 col-xs-11 col-sm-11 col-md-11" id="TituloInfoTramite" style="color:#000000;">Titulo</h4>
                <br />
            </div>
            <div class="modal-body">
                <div id="MensajeInfoTramite" class="alert alert-success alert-dismissible" role="alert">
                    <strong>Atención!</strong><br />
                    <p id="DescripcionInfoTramite">Descripcion de la informacion</p>
                </div>
            </div>
            <div class="modal-footer" style="background-color:#ffffff;" id="Panel_Botones">
                <img id="btnCancelarAdvertenciaTramite" data-dismiss="modal" title="Cancelar" src="~/Content/images/Seguridad/icons/blue/32/checkbox.png" style="cursor:pointer;">
            </div>
        </div>
    </div>
</div>
<!-- Modal Advertencia-->
<div class="modal fade" id="ModalAdvertenciaTramite" tabindex="-2" role="dialog" aria-labelledby="TituloAdvertencia" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title col-lg-11 col-xs-11 col-sm-11 col-md-11" id="TituloAdvertenciaTramite" style="color:#000000;">Titulo</h4>
                <br />
            </div>
            <div class="modal-body">
                <div id="MensajeAlertaTramite" class="alert alert-warning alert-dismissible" role="alert">
                    <strong>Atención!</strong><br />
                    <p id="DescripcionAdvertenciaTramite">Está a punto de DAR DE BAJA a la persona<br />Está seguro de continuar?</p>
                </div>
            </div>
            <div class="modal-footer" style="background-color:#ffffff;" id="Panel_Botones">
                <img id="btnGrabarAdvertenciaTramite" class="" title="Aceptar" src="~/Content/images/Seguridad/icons/blue/32/checkbox.png" style="cursor:pointer;">&ensp;&ensp;
                <img id="btnCancelarAdvertenciaTramite" data-dismiss="modal" title="Cancelar" src="~/Content/images/Seguridad/icons/blue/32/cancelar.png" style="cursor:pointer;">
            </div>
        </div>
    </div>
</div>
<div id="permisosContainer"></div>
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/Tramites/abmTipoTramite.js"></script>

