@model GeoSit.Client.Web.Models.SeguridadModel

@using GeoSit.Client.Web.Controllers;
@{
    ViewBag.Title = "Administración de Usuarios";
    ViewBag.Description = "";
    ViewBag.CantidadMaxima = 100;

    ViewBag.Active_Directory = 0;

}

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Scripts/jstree/dist/themes/default/style.css" rel="stylesheet" />
<link href="~/Content/seguridad_new.css" rel="stylesheet" />
<link href="~/Content/usuarios.css" rel="stylesheet">

@Html.AntiForgeryToken()
<div class="modal fade theme_new seguridad usuarios" id="modal-abm-usuarios" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xlg">
        <div class="modal-content">
            <div id="scroll-content-usuarios" class="scroll-content">
                <div class="modal-header">
                    <h3 class="modal-title">@ViewBag.Title</h3>
                    <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
                </div>
                <div class="modal-body usuarios-body">
                    <div id="usuarios-content" class="body-content">
                        <div class="panel panel-group usuarios-listado">
                            <div class="panel-body">
                                <div class="form-group clearfix remove-margin">
                                    <div class="col-xs-12 remove-padding">
                                        <div class="tabla-con-botones">
                                            <table id="Grilla_usuarios" class="table table-striped table-condensed table-bordered table-responsive"></table>
                                            <dl>
                                                @if (SeguridadController.ExisteFuncion(@Resources.Seguridad.AltaPerfil))
                                                {
                                                    <dt><span data-edita="nuevo" id="btnAgregar" class="fa fa-plus-circle fa-2x"></span></dt>
                                                }
                                                @if (SeguridadController.ExisteFuncion(@Resources.Seguridad.EliminarPerfil))
                                                {
                                                    <dt><span id="btnEliminar" class="fa fa-minus-circle fa-2x disabled"></span></dt>
                                                }
                                                @if (SeguridadController.ExisteFuncion(@Resources.Seguridad.ModificarPerfil))
                                                {
                                                    <dt><span data-edita="existente" id="btnEditar" class="fa fa-pencil fa-2x disabled"></span></dt>
                                                }
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group accordion" id="accordion-usuarios">
                            <form role="form" id="form" action='@Url.Action("SetUsuarios_Save", "Seguridad")' method="post">
                                <div class="accordion-section">
                                    <div class='panel-heading bg-primary main-heading panel-deshabilitado' role='region' id='headingDetalleUsuario'>
                                        <a data-toggle='collapse' data-parent='#accordion-usuarios' href='#collapseDetalleUsuario' aria-expanded='false'
                                           aria-controls='collapseDetalleUsuario' class="collapsed">
                                            <div class='panel-title'>
                                                Detalle de Usuario
                                                <i class="fa"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id='collapseDetalleUsuario' class='panel-collapse collapse main-collapse' aria-expanded='false' aria-labelledby='headingDetalleUsuario'>
                                        <div class="row remove-margin" style="margin-top:7px;">
                                            <div class="col-xs-12">
                                                <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-xs-offset-0 col-xs-4 control-label text-right">* Usuario</label>
                                                        <div class="col-xs-7">
                                                            <input type="text" value="" style="width:100%;" class="form-control"
                                                                   name="Usuarios.Login" id="txtLogin" readonly required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-offset-0 col-xs-4 control-label text-right">* Nombres</label>
                                                        <div class="col-xs-7">
                                                            <input type="text" value="" style="width:100%;" class="form-control"
                                                                   name="Usuarios.Nombre" id="txtNombre" readonly required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-offset-0 col-xs-4 control-label text-right">* Apellido</label>
                                                        <div class="col-xs-7">
                                                            <input type="text" value="" style="width:100%;" class="form-control"
                                                                   name="Usuarios.Apellido" id="txtApellido" readonly required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-offset-0 col-xs-4 control-label text-right">* E-Mail</label>
                                                        <div class="col-xs-7">
                                                            <input type="email" value="" style="width:100%;" class="form-control"
                                                                   name="Usuarios.Mail" id="txtMail" readonly required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-offset-0 col-xs-4 control-label text-right">* Sector</label>
                                                        <div class="col-xs-7">
                                                            <select class="form-control" id="cboSector"
                                                                    name="Usuarios.IdSector" disabled required>
                                                                @foreach (var sector in ViewBag.listaSectores)
                                                                {
                                                                    <option value="@sector.IdSector">@sector.Nombre</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-offset-0 col-xs-4 control-label text-right">* Tipo y N° de Documento</label>
                                                        <div class="col-xs-3">
                                                            <select class="form-control" id="cboTipoDoc"
                                                                    name="Usuarios.Id_Tipo_Doc" disabled required>
                                                                @foreach (var td in ViewBag.listaTipoDoc)
                                                                {
                                                                    <option value="@td.Id_Tipo_Doc_Ident">@td.Descripcion</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <input type="text" value="" style="width:100%;" class="form-control"
                                                                   name="Usuarios.Nro_doc" id="txtNroDoc" readonly required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-offset-0 col-xs-4 control-label text-right">Sexo</label>
                                                        <div class="col-xs-7">
                                                            @Html.DropDownListFor(model => model.Usuarios.Sexo, (SelectList)ViewBag.listaSexos, new { @id = "cboSexo", @class = "form-control", @disabled = "disabled", @required = "required" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-offset-0 col-xs-4 control-label text-right">CUIL</label>
                                                        <div class="col-xs-7">
                                                            <input type="text" value="" style="width:100%;" class="form-control"
                                                                   name="Usuarios.CUIL" id="txtCUIL" readonly required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-offset-0 col-xs-4 control-label text-right">Domicilio</label>
                                                        <div class="col-xs-7">
                                                            <input type="text" value="" style="width:100%;" class="form-control"
                                                                   name="Usuarios.Domicilio" id="txtDomicilio" readonly required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-offset-0 col-xs-4 control-label text-right">Cuenta Habilitada</label>
                                                        <div class="col-xs-7" style="width:auto;">
                                                            <input type="hidden" name="Usuarios.Habilitado" value="true" />
                                                            <a data-checked="true" class="disabled" id="chkHabilitado" onclick="javascript:toggleHabilitado(event);" href="javascript:void(0);"><i class="fa"></i></a>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" id="hfIdUsuario" name="Usuarios.Id_Usuario" value="" />
                                                    <input type="hidden" id="hfFechaAlta" name="Usuarios.Fecha_alta" value="" />
                                                    <input type="hidden" id="hfFechaModificacion" name="Usuarios.Fecha_modificacion" value="" />
                                                    <input type="hidden" id="hfUsuarioAlta" name="Usuarios.Usuario_alta" value="" />
                                                    <input type="hidden" id="hfUsuarioModificacion" name="Usuarios.Usuario_modificacion" value="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-section">
                                    <div class='panel-heading bg-primary main-heading panel-deshabilitado' role='region' id='headingDetallePassword'>
                                        <a data-toggle='collapse' data-parent='#accordion-usuarios' href='#collapseDetallePassword' aria-expanded='false'
                                           aria-controls='collapseDetallePassword' class="collapsed">
                                            <div class='panel-title'>
                                                Contrase&ntilde;a
                                                <i class="fa"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id='collapseDetallePassword' class='panel-collapse collapse main-collapse' aria-expanded='false' aria-labelledby='headingDetallePassword'>
                                        <div class="row remove-margin" style="margin-top:7px;">
                                            <div class="col-xs-12">
                                                <div class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-xs-offset-0 col-xs-4 control-label text-right">* Nueva Contraseña</label>
                                                        <div class="col-xs-7">
                                                            <input id="txtRegistro" type="password" value="" style="width:100%;" class="form-control"
                                                                   name="UsuariosRegistro.Registro" placeholder="[INGRESE NUEVA CONTRASE&Ntilde;A]" readonly required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-offset-0 col-xs-4 control-label text-right">* Confirmar Contraseña</label>
                                                        <div class="col-xs-7">
                                                            <input id="txtRegistroConfirmacion" type="password" value="" style="width:100%;" class="form-control"
                                                                    placeholder="[CONFIRME NUEVA CONTRASE&Ntilde;A]" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-offset-0 col-xs-4 control-label text-right">&Uacute;ltima Modificaci&oacute;n</label>
                                                        <div class="col-xs-7">
                                                            <input id="txtFechaOperacion" type="text" value="" style="width:100%;" class="form-control solo-lectura"
                                                                   name="UsuariosRegistro.Fecha_Operacion" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-xs-offset-0 col-xs-4 control-label text-right" style="padding-top:0;">Cambiar la contrase&ntilde;a al iniciar la aplicaci&oacute;n</label>
                                                        <div class="col-xs-7" style="width:auto;">
                                                            <input type="hidden" name="Usuarios.Cambio_pass" value="false" />
                                                            <a data-checked="false" class="disabled" onclick="javascript:toggleHabilitado(event);" href="javascript:void(0);"><i class="fa"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-section">
                                    <div class='panel-heading bg-primary main-heading panel-deshabilitado' role='region' id='headingDetallePerfiles'>
                                        <a data-toggle='collapse' data-parent='#accordion-usuarios' href='#collapseDetallePerfiles' aria-expanded='false'
                                           aria-controls='collapseDetallePerfiles' class="collapsed">
                                            <div class='panel-title'>
                                                Perfiles
                                                <i class="fa"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id='collapseDetallePerfiles' class='panel-collapse collapse main-collapse' aria-expanded='false' aria-labelledby='headingDetallePerfiles'>
                                        <div class="row remove-margin" style="margin-top:7px;">
                                            <div class="col-xs-12">
                                                <table id="Grilla_Perfiles" class="table table-striped table-condensed table-bordered table-responsive"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-4 pull-right">
                    <span id="btnInformeUsuarios" aria-hidden="true" data-placement="right"  title="Informe Usuarios" data-original-title="Informe Usuarios" class="fa fa-file-pdf-o fa-2x boton-deshabilitado cursor-pointer"></span>
                    <span id="btnGuardar" aria-hidden="true" data-placement="right" title="Guardar" data-original-title="Guardar" class="fa fa-floppy-o fa-2x black boton-deshabilitado cursor-pointer"></span>
                    <span id="btnDescartar" aria-hidden="true" data-placement="right" title="Cancelar" data-original-title="Cancelar" class="fa fa-undo fa-2x black boton-deshabilitado cursor-pointer"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade theme_new mensaje" id="ModalInfoUsuarios" tabindex="-3" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="TituloInfo">Titulo</h3>
                <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <p id="DescripcionInfo">Descripcion de la informacion</p>
                </div>
            </div>
            <div class="modal-footer" style="display:none;">
                <div class="col-lg-4 pull-right">
                    <span id="btnInfoOK" aria-hidden="true" data-dismiss="modal" title="Seleccionar" class="fa fa-check-circle fa-3x light-blue cursor-pointer"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade theme_new seguridad" id="ModalHorarios" tabindex="-3" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="scroll-content">
                <div class="modal-header">
                    <h3 class="modal-title">Seleccione un Horario</h3>
                    <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
                </div>
                <div class="modal-body seleccion-horario-body">
                    <div id="seleccion-horario-content" class="body-content">
                        <div class="panel panel-group horarios-listado" style="box-shadow:none;margin: 0;">
                            <div class="panel-body">
                                <div class="form-group clearfix remove-margin">
                                    <div class="col-xs-12 remove-padding">
                                        <table id="Grilla_Horarios" class="table table-striped table-condensed table-bordered table-responsive"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-4 pull-right">
                        <span id="btnHorariosOK" aria-hidden="true" data-dismiss="modal" data-placement="right" title="Seleccionar" data-original-title="Seleccionar" class="fa fa-check-circle fa-2x black cursor-pointer"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.js"></script>
<script src="~/Scripts/jstree/dist/jstree.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/Negocio/utilidades.js"></script>

<script>
    const perfiles = @Html.Raw(Json.Encode(ViewBag.listaPerfiles));
    let validarpass = false;
    $(window).resize(ajustamodal);
    $(document).ready(init);
    function init() {
        $("#modal-abm-usuarios").on("shown.bs.modal", function () {
            @if (!string.IsNullOrEmpty(Model.Mensaje))
            {
                string titulo = "Nuevo Usuario";
                string mensaje = "Los datos del usuario han sido guardados satisfactoriamente.";
                if (Model.Mensaje == "ModificacionOK")
                {
                    titulo = "Modificación de Usuario";
                }
                else if (Model.Mensaje == "EliminacionOK")
                {
                    titulo = "Eliminación de Usuario";
                    mensaje = "El usuario se ha eliminado correctamente.";
                }
            <text>
            mostrarMensajeGeneral(["@mensaje"], "@titulo", false);
            </text>
            }
            ajustamodal();
            hideLoading();
        });
        $("#usuarios-content").niceScroll(getNiceScrollConfig());
        $("#scroll-content-usuarios .panel-body").resize(ajustarScrollBarsUsuarios);
        $("#usuarios-content .panel-heading a").click(function () {
            setTimeout(ajustarScrollBarsUsuarios, 10);
        });

        $.ajax({
            url: '@Url.Action("GetUsuariosJson", "Seguridad")',
            dataType: "json",
            type: "GET",
            success: function (usuarios) {
                $.when(cargarSectores(), cargarPerfiles()).done(function (sectoresRes, perfilesRes) {
                    $("#Grilla_usuarios").DataTable({
                        dom: "<'row'<'col-sm-12'f>><'row remove-margin text-right'<'col-xs-3 remove-padding total-usuarios'><'col-xs-8 remove-padding leyenda'><'col-xs-1 remove-padding switcher'<'row toggle-activos'>>>tr<'row'<'col-sm-12'p>>",
                        destroy: true,
                        language: {
                            url: BASE_URL + "Scripts/dataTables.spanish.txt"
                        },
                        order: [1, 'asc'],
                        data: usuarios,
                        columns: [
                            { data: "Habilitado", visible: false },
                            { title: "Usuario", data: "Login", orderable: true },
                            { title: "Apellido", data: "Apellido", orderable: true },
                            { title: "Nombre", data: "Nombre", orderable: true },
                            {
                                title: "Sector <br><select id='cboSectorUsuario' class='form-control input-sm'></select>",
                                data: "Sector",
                                orderable: false
                            },
                            {
                                title: "Perfiles <br><select id='cboPerfiles' class='form-control input-sm'></select>",
                                data: "Perfiles",
                                orderable: false
                            }
                        ],
                        createdRow: function (row, data) {
                            $(row).data('id', data.Id_Usuario);
                            $(row).addClass('cursor-pointer');
                            if (!data.Habilitado) {
                                $(row).addClass('inactivo');
                            }
                        },
                        searchCols: [{ search: "true" }, null, null, null],
                        initComplete: function (options) {
                            $('div.leyenda').html('<span>Mostrar s&oacute;lo usuarios activos&nbsp;</span>');
                            getTotalUsuariosActivos(usuarios);
                            $('div.toggle-activos').html('<a activos="true" onclick="javascript:toggleUsuariosActivos(event);" href="javascript:void(0);"><i class="fa"></i></a>');
                            $(this).dataTable().api().columns.adjust();
                            $(options.nTBody).off("click", "tr");
                            $(options.nTBody).on("click", "tr", function (e) {
                                e.preventDefault();
                                e.stopPropagation();
                                $(this).siblings().removeClass('selected');
                                $(this).toggleClass('selected');
                                getDatos(this);
                            });
                            $.fn.DataTable.ext.search.push(function (settings, searchData, index, rowData) {
                                return !$('a[activos]').length || searchData[0] === 'true';
                            });
                            $('#cboSectorUsuario').empty().html(generarOpcionesSelect(sectoresRes[0], "IdSector", "Nombre"));
                            $('#cboPerfiles').empty().html(generarOpcionesSelect(perfilesRes[0], "Id_Perfil", "Nombre"));
                            $("#cboPerfiles").on("change", function () {
                                $("#cboSectorUsuario").val("0");
                                actualizarGrillaUsuarios("#cboPerfiles", true);
                            });
                            $("#cboSectorUsuario").on("change", function () {
                                $("#cboPerfiles").val("0");
                                actualizarGrillaUsuarios("#cboSectorUsuario", false);
                            });
                        }
                    });
                }).fail(function (error) {
                    console.log("Error al cargar selects de #GrillaUsuarios: ", error);
                });
            },
            error: function (error) {
                mostrarMensajeError([error.responseText], "Recuperar Usuarios", true);
            }
        });

        $("#txtRegistro").on('change input', function () { validarpass = true; });
        $('#btnInformeUsuarios').on('click', function () {
            showLoading();
            $.ajax({
                url: BASE_URL + 'Seguridad/GenerarInformeUsuarios',
                type: 'GET',
                data: {
                    id: ($('#cboSectorUsuario').val() != '0') ? $('#cboSectorUsuario').val() : $('#cboPerfiles').val(),
                    tipoFiltro: ($('#cboSectorUsuario').val() != '0') ? false : true,
                    filtro: ($('#cboSectorUsuario').val() != '0') ? "SECTOR " + $('#cboSectorUsuario option:selected').text() : "PERFIL " + $('#cboPerfiles option:selected').text()
                },
                success: function () {
                    window.open(BASE_URL + "Seguridad/AbrirReporte/", "_blank");
                },
                error: function (xhr) {
                    mostrarMensajeError(["Error: " + xhr.statusText], "Informe Usuarios - Error", true);
                },
                complete: function () {
                    hideLoading();
                }
            });
        });
        $('#btnAgregar').on('click', function () {
            fillDatosUsuario();
            fillDatosPerfiles([]);
            iniciarEdicion("nuevo");
        });
        $('#btnEditar').on('click', iniciarEdicion);
        $('#btnEliminar').on('click', function () {
            $('#btnInfoOK').off('click');
            $('#btnInfoOK').one('click', eliminarUsuario);
            mostrarMensajeGeneral(["Está a punto de ELIMINAR el usuario " + $('#txtLogin').val() + ".","¿Desea Continuar?"], "Eliminar", true);
        });

        $('#btnDescartar').on('click', function () {
            $('#btnInfoOK').off('click');
            $('#btnInfoOK').one('click', finalizarEdicion);
            mostrarMensajeGeneral(["Está a punto de CANCELAR la operación.", "Los datos ingresados/modificados serán eliminados.", "¿Desea continuar?"], "Cancelar", true);
        });
        $("#btnGuardar").on('click', function () {
            showLoading();
            var msjs = [];
            var username = $("#txtLogin").val();
            var usernameRegex = /^\S*$/;
            if (!$("#txtLogin").val()) {
                msjs.push("El campo USUARIO es obligatorio.");
            } else if (!usernameRegex.test(username)) {
                msjs.push("El campo USUARIO no debe tener espacios en blanco.");
            }
            if (!$("#txtNombre").val()) {
                msjs.push("El campo NOMBRE es obligatorio.");
            }
            if (!$("#txtApellido").val()) {
                msjs.push("El campo APELLIDO es obligatorio.");
            }
            if (!$("#txtMail").val()) {
                msjs.push("El campo E-MAIL es obligatorio.");
            } else if (!$("#txtMail").val().toString().isValidEmail()) {
                msjs.push("El E-MAIL especificado no es válido.");
            }
            if (!$("#cboSector").val()) {
                msjs.push("El campo SECTOR es obligatorio.");
            }
            if (!$("#cboTipoDoc").val()) {
                msjs.push("El campo TIPO DE DOCUMENTO es obligatorio.");
            }
            if (!$("#txtNroDoc").val()) {
                msjs.push("El campo N° DE DOCUMENTO es obligatorio.");
            }
            if (!$("#txtCUIL").val()) {
                msjs.push("El campo CUIL es obligatorio.");
            }
            if (!$("[name='HorarioPerfilUsuario']").length) {
                msjs.push("Debe seleccionar un PERFIL para el usuario.");
            }
            if (validarpass && $("#txtRegistro", "#collapseDetallePassword").is(":invalid")) {
                msjs.push("El campo CONTRASEÑA es obligatorio.");
            }
            if (validarpass && $("#txtRegistroConfirmacion", "#collapseDetallePassword").is(":invalid")) {
                msjs.push("El campo CONFIRMAR CONTRASEÑA es obligatorio.");
            }
            if (msjs.length) {
                hideLoading();
                mostrarMensajeError(msjs, "Datos Obligatorios");
                return;
            }
            var validaciones = [verificarLoginExistente(), verificarDocumentoExistente()];
            if (validarpass) {
                validaciones.push(verificarPasswordValida());
            }
            Promise.all(validaciones)
                .then(function (respuestas) {
                    hideLoading();
                    if (respuestas[0] !== 0 && respuestas[0] !== parseInt($("#hfIdUsuario").val())) {
                        mostrarMensajeError(["El nombre de usuario ingresado ya se encuentra en el sistema."], "Login Existente");
                        return;
                    }
                    if (respuestas[1] !== 0 && respuestas[1] !== parseInt($("#hfIdUsuario").val())) {
                        mostrarMensajeError(["Tipo y Nro de documento ingresados ya se encuentra en el sistema."], "Documento Existente");
                        return;
                    }
                    if (validarpass && respuestas[2].length) {
                        mostrarMensajeError(respuestas[2], "Contraseña Inválida");
                        return;
                    }
                    $("#form", "#modal-abm-usuarios").submit();
                })
                .catch(function (error) {
                    hideLoading();
                    mostrarMensajeError([error.responseText], "Recuperar Usuario", true);
                });
        });

        $("#form", "#modal-abm-usuarios").ajaxForm({
            beforeSubmit: function () {
                showLoading();
                return true;
            },
            success: function (data) {
                $("#modal-abm-usuarios").modal("hide");
                setTimeout(() => $("#contenido").empty().html(data), 500);
            },
            error: function (err) {
                hideLoading();
                let msg = "Ha ocurrido un error al guardar los datos del usuario.";
                if (err.status === 400) {
                    msg = "El CUIL no es válido.";
                }
                mostrarMensajeError([msg], "Grabación de Usuario", err.status !== 400);
            }
        });
        $('#modal-abm-usuarios').modal('show');
    }
    function ajustamodal() {
        var altura = $(window).height() - 150; //value corresponding to the modal heading + footer
        $(".usuarios-body").css({ "height": altura, "overflow-y": "auto" });
        ajustarScrollBarsUsuarios();
    }
    function ajustarScrollBarsUsuarios() {
        $('#usuarios-content').css({ "max-height": $(".usuarios-body").height() + 'px',  "height": "100%" });
        $('#usuarios-content').getNiceScroll().resize();
    }
    function activarSecciones(row, forzar) {
        var secciones = $(".panel-heading[role='region']", '#accordion-usuarios');
        if (forzar || (row && row.hasClass('selected'))) {
            secciones.removeClass("panel-deshabilitado");
            secciones.each(function (_, seccion) {
                $("a[data-toggle]", seccion).removeClass("collapsed");
                $("[aria-labelledby='" + $(seccion).attr("id") + "']").addClass("in").attr("aria-expanded", true).css('height','auto');
            });
            $("dl .fa:not(:first)", ".usuarios-listado").removeClass("disabled");
        } else {
            secciones.addClass("panel-deshabilitado");
            secciones.each(function (_, seccion) {
                $("a[data-toggle]", seccion).addClass("collapsed");
                $("[aria-labelledby='" + $(seccion).attr("id") + "']").removeClass("in").attr("aria-expanded", false).css('height','0');
            });
            $("dl .fa:not(:first)", ".usuarios-listado").addClass("disabled");
            row = null;
        }
        ajustarScrollBarsUsuarios();
    }
    function iniciarEdicion(tipo) {
        if (tipo === "nuevo") {
            $("#Grilla_usuarios > tbody > tr").removeClass("selected");
            activarSecciones(null, true);
        }
        validarpass = false;
        $("#Grilla_usuarios", ".usuarios-listado").attr("disabled", "disabled");
        $("form .form-control:not(.solo-lectura)", '#modal-abm-usuarios').removeAttr("readonly");
        $("form select",'#modal-abm-usuarios').removeAttr("disabled")
        $("dl .fa", ".usuarios-listado").addClass("disabled");
        $('.modal-footer span', '#modal-abm-usuarios').removeClass('boton-deshabilitado');
        $("#btnInformeUsuarios").addClass("boton-deshabilitado");
        setTimeout(function () { $("a[data-checked],a[data-horario]", "#modal-abm-usuarios").removeClass('disabled'); }, 1000);
    }
    function finalizarEdicion() {
        $("#Grilla_usuarios", ".usuarios-listado").removeAttr("disabled");
        $("form .form-control",'#modal-abm-usuarios').attr("readonly","readonly");
        $("dl .fa", ".usuarios-listado").removeClass("disabled");
        $("#btn_Horarios, #btnGuardar, #btnDescartar, #btnInformeUsuarios").addClass('boton-deshabilitado');
        $("a[data-checked],a[data-horario]", "#modal-abm-usuarios").addClass('disabled');
        getDatos($('tr.selected','#Grilla_Perfiles'));
    }

    function getDatos(row) {
        if (!$(row).hasClass('selected')) {
            activarSecciones();
            return;
        }
        showLoading();
        var cargas = []
            idUsuario = getIdUsuarioSeleccionado(row);
        cargas.push(getDetalleUsuarioSeleccionado(idUsuario));
        cargas.push(getRegistroUsuarioSeleccionado(idUsuario));
        cargas.push(getPerfilesUsuarioSeleccionado(idUsuario));

        Promise
            .all(cargas)
            .then(function (datos) {
                fillDatosUsuario(datos[0],datos[1]);
                fillDatosPerfiles(datos[2]);
                activarSecciones($(row));
            })
            .catch(function (error) {
                mostrarMensajeError([error.responseText], "Recuperar Usuario", true);
            })
            .finally(hideLoading);
    }
    function getIdUsuarioSeleccionado(row) {
        return $(row).data('id');
    }
    function getDetalleUsuarioSeleccionado(idUsuario) {
        return new Promise(function (resolve, reject) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetDatosUsuario")',
                dataType: 'json',
                data: { id: idUsuario },
                success: resolve,
                error: reject
            });
        });
    }
    function getRegistroUsuarioSeleccionado(idUsuario) {
        return new Promise(function (resolve, reject) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetRegistroUsuario")',
                dataType: 'json',
                data: { id: idUsuario },
                success: resolve,
                error: reject
            });
        });
    }
    function getPerfilesUsuarioSeleccionado(idUsuario) {
        return new Promise(function (resolve, reject) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetPerfilesUsuario")',
                dataType: 'json',
                data: { id: idUsuario },
                success: resolve,
                error: reject
            });
        });
    }
    function fillDatosUsuario(usuario, registro) {
        usuario = usuario || {};
        $("#txtLogin", "#modal-abm-usuarios").val(usuario.Login);
        $("#txtNombre", "#modal-abm-usuarios").val(usuario.Nombre);
        $("#txtApellido", "#modal-abm-usuarios").val(usuario.Apellido);
        $("#txtMail", "#modal-abm-usuarios").val(usuario.Mail);
        $("#cboSector", "#modal-abm-usuarios").val(usuario.IdSector);
        $("#cboTipoDoc", "#modal-abm-usuarios").val((usuario.Id_tipo_doc || '').trim());
        $("#txtNroDoc", "#modal-abm-usuarios").val(usuario.Nro_doc);
        $("#txtDomicilio", "#modal-abm-usuarios").val(usuario.Domicilio);
        $("#txtCUIL", "#modal-abm-usuarios").val(usuario.CUIL);
        $("#cboSexo", "#modal-abm-usuarios").val(usuario.Sexo);

        var val = !!usuario.Habilitado,
            chk = $("#chkHabilitado", "#modal-abm-usuarios");
        chk.attr("data-checked", val);
        chk.siblings("input[type='hidden']").val(val);

        $("#hfIdUsuario", "#modal-abm-usuarios").val(usuario.Id_Usuario);
        $("#hfFechaAlta", "#modal-abm-usuarios").val(usuario.Fecha_alta);
        $("#hfFechaModificacion", "#modal-abm-usuarios").val(usuario.Fecha_modificacion);
        $("#hfUsuarioAlta", "#modal-abm-usuarios").val(usuario.Usuario_alta);
        $("#hfUsuarioModificacion", "#modal-abm-usuarios").val(usuario.Usuario_modificacion);

        fillDatosRegistro(registro || {});
    }
    function fillDatosRegistro(registro) {
        validarpass = !registro.tiene;
        if (!!registro.fecha) {
            $("#txtFechaOperacion", "#modal-abm-usuarios").val(FormatFechaHora(registro.fecha, true));
        }
    }
    function fillDatosPerfiles(perfilesUsuario) {
        var filter = function (p) {
	        return perfilesUsuario.filter(function (pu) { return pu.Id_Perfil === p.Id_Perfil; });
        }
        var procesados = perfiles.map(function (p) {
						        return {
							        Id_Perfil: p.Id_Perfil,
							        Perfil: p.Nombre,
							        Habilitado: !!filter(p).length,
							        Id_Horario: (filter(p)[0] || p).Id_Horario,
							        Horario: (filter(p).map(function (pu) { return pu.Horarios; })[0] || p.Horario).Descripcion
						        };
                          });
        $("#Grilla_Perfiles", "#modal-abm-usuarios").DataTable({
            dom: "tr",
            paging: false,
            searching:false,
	        destroy: true,
	        language: {
		        url: BASE_URL + "Scripts/dataTables.spanish.txt"
	        },
	        data: procesados,
	        columns: [
		        { title: "Perfil", data: "Perfil", orderable: true },
		        {
                    title: "Habilitado",
                    data: "Habilitado",
			        width: "75px",
                    render: function (value) {
				        return '<div class="text-center"><a data-checked="' + value + '" class="disabled" onclick="javascript:togglePerfilHabilitado(event);" href="javascript:void(0);"><i class="fa"></i></a></div>';
			        },
			        orderable: true
		        },
		        { title: "Horario", data: "Horario", orderable: true },
		        {
			        data:"Id_Horario",
			        width: "30px",
                    render: function (value, type, data) {
				        return '<div class="text-center">' + (data.Habilitado ? '<input type="hidden" name="HorarioPerfilUsuario" value="' + value + '" /><input type="hidden" name="PerfilUsuario" value="' + data.Id_Perfil + '" />' : '') + '<a data-horario title="Seleccionar Horario" class="black cursor-pointer disabled ' + (data.Habilitado ? "" : " boton-deshabilitado") + '" onclick="javascript:seleccionarHorario(event);" href="javascript:void(0);"><i class="fa fa-calendar"></i></a></div>';
			        },
			        orderable: false
		        }
	        ],
            createdRow: function (row, data) {
		        $(row).data('id', data.Id_Perfil);
		        $(row).addClass('cursor-pointer');
	        },
	        initComplete: function () {
		        $(this).dataTable().api().columns.adjust();
	        }
        });
    }
    function eliminarUsuario() {
        showLoading();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SetUsuarios_Delete")',
            data: $('#form').serialize(),
            dataType: 'html',
            success: function (data) {
                $("#modal-abm-usuarios").modal('hide');
                setTimeout(function () {
                    $("#contenido").empty();
                    $("#contenido").html(data);
                }, 500);
            },
            error: function () {
                hideLoading();
                mostrarMensajeError(["Ha ocurrido un error al eliminar el usuario."], "Eliminación de Usuario", true);
            }
        });
    }
    function seleccionarHorario(evt) {
        var elem = evt.currentTarget,
            actual = parseInt($(elem).siblings('[name="HorarioPerfilUsuario"]').val());
        $("#Grilla_Horarios").DataTable({
            dom: "t",
            destroy: true,
            paging: false,
            searching: false,
            language: {
                url: BASE_URL + "Scripts/dataTables.spanish.txt"
            },
            order: [0, 'asc'],
            data: @Html.Raw(Json.Encode(ViewBag.listaHorarios)),
            columns: [{ title: "Horarios", data: "Descripcion", orderable: true }],
            createdRow: function (row, data) {
                $(row).data('id', data.Id_Horario);
                $(row).addClass('cursor-pointer');
                if (actual === data.Id_Horario) {
                    $(row).addClass('selected');
                }
            },
            initComplete: function (options) {
                $(this).dataTable().api().columns.adjust();
                $(options.nTBody).off("click", "tr");
                if (!$('.dataTables_empty', options.nTBody).length) {
                    $(options.nTBody).on("click", "tr", function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        $(this).siblings().removeClass('selected');
                        $(this).toggleClass('selected');
                    });
                }
            }
        });
        $("#btnHorariosOK").off('click');
        $("#btnHorariosOK").one('click', function () {
            var nuevo = $("#Grilla_Horarios").dataTable().api().row(".selected").data();
            $('td:nth-of-type(3)',$(elem).parents('tr')).html(nuevo.Descripcion);
            $(elem).siblings('[name="HorarioPerfilUsuario"]').val(nuevo.Id_Horario);
        });
        $('#ModalHorarios').one('shown.bs.modal', function () {
            $("#Grilla_Horarios").dataTable().api().columns.adjust();
        });
        $('#ModalHorarios').modal('show');
    }
    function toggleHabilitado(evt) {
        var val = !eval($(evt.currentTarget).attr("data-checked"));
        $(evt.currentTarget).attr("data-checked", val);
        $(evt.currentTarget).siblings("input[type='hidden']").val(val);
        return val;
    }
    function togglePerfilHabilitado(evt) {
        var row = $(evt.currentTarget).parents('tr');
        $('[data-horario]', row).siblings("input[type='hidden']").remove();
        if (toggleHabilitado(evt)) {
            var data = $("#Grilla_Perfiles").DataTable().row(row).data();
            $('[data-horario]', row).parent().append('<input type="hidden" name="HorarioPerfilUsuario" value="' + data.Id_Horario + '" />');
            $('[data-horario]', row).parent().append('<input type="hidden" name="PerfilUsuario" value="' + data.Id_Perfil + '" />');
            $('[data-horario]', row).removeClass('boton-deshabilitado');
        } else {
            $('[data-horario]', row).addClass('boton-deshabilitado');
        }
    }
    function toggleUsuariosActivos(evt) {
        var activos='';
        if ($(evt.currentTarget).attr('activos')) {
            $(evt.currentTarget).removeAttr('activos');
            $('div.total-usuarios').css('visibility', 'hidden');
        } else {
            $(evt.currentTarget).attr('activos', true);
            activos = 'true';
            $('div.total-usuarios').css('visibility', 'visible');
        }
        $("#Grilla_usuarios").dataTable().api().column(0).search(activos).draw();
    }
    function verificarLoginExistente() {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: '@Url.Action("GetUsuarioByLogin", "Seguridad")',
                data: { id: $('#txtLogin').val() },
                type: 'POST',
                success: resolve,
                error: reject
            });
        });
    }
    function verificarDocumentoExistente() {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: '@Url.Action("GetUsuarioByDocumento", "Seguridad")',
                data: { id: $('#cboTipoDoc').val(), NroDoc: $('#txtNroDoc').val() },
                type: 'POST',
                success: resolve,
                error: reject
            });
        });
    }
    function verificarPasswordValida() {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: '@Url.Action("ValidarPassword", "Seguridad")',
                data: {
                    Id: parseInt($("#hfIdUsuario").val()),
                    NewPassword: $("#txtRegistro").val(),
                    ConfirmNewPassword: $("#txtRegistroConfirmacion").val()
                },
                type: "POST",
                success: resolve,
                error: reject
            });
        });
    }
    function mostrarMensajeError(mensajes, titulo, error) {
        mostrarMensaje(mensajes, titulo, (error || false ? "alert-danger" : "alert-warning"));
    }
    function mostrarMensajeGeneral(mensajes, titulo, confirmacion) {
        mostrarMensaje(mensajes, titulo, (!!confirmacion ? "alert-info" : "alert-success"));
    }
    function mostrarMensaje(mensajes, titulo, tipo) {
        $('#TituloInfo','#ModalInfoUsuarios').html(titulo);
        $('#DescripcionInfo','#ModalInfoUsuarios').html(mensajes.join("<br />"));
        $("[role='alert']", "#ModalInfoUsuarios").removeClass("alert-danger alert-success alert-info alert-warning").addClass(tipo);
        $(".modal-footer", "#ModalInfoUsuarios").hide();
        if (tipo === "alert-info") {
            $(".modal-footer", "#ModalInfoUsuarios").show();
        }
        $("#ModalInfoUsuarios").modal('show');
    }
    function cargarSectores() {
        return $.ajax({
                url: '@Url.Action("GetSectoresJson", "Seguridad")',
                type: "GET",
                dataType: "json"
            });
    }
    function cargarPerfiles() {
        return $.ajax({
                url: '@Url.Action("GetPerfilesJson", "Seguridad")',
                type: "GET",
                dataType: "json"
            });
    }
    function generarOpcionesSelect(lista, idKey, textKey, opcionPorDefecto = "-- Todos --") {
        let opciones = `<option value="0">${opcionPorDefecto}</option>`;
        lista.forEach(function (item) {
            opciones += `<option value="${item[idKey]}">${item[textKey]}</option>`;
        });
        return opciones;
    }
    function actualizarGrillaUsuarios(select, tipoFiltro) {
        showLoading();
        $("#btnInformeUsuarios").toggleClass("boton-deshabilitado", $("#cboSectorUsuario").val() == 0 && $("#cboPerfiles").val() == 0);
        let dataTable = $("#Grilla_usuarios").DataTable();
        let idSeleccionado = $(select).val();
        $.ajax({
            url: '@Url.Action("ActualizarGrillaUsuarios", "Seguridad")',
            type: "GET",
            data: { id: idSeleccionado, tipoFiltro: tipoFiltro },
            dataType: "json",
            success: function (usuarios) {
                dataTable.clear();
                dataTable.rows.add(usuarios);
                dataTable.draw();
                getTotalUsuariosActivos(usuarios);
            },
            error: function (error) {
                console.log("Error al filtrar usuarios:", error);
            }
        });
        hideLoading();
    }
    function getTotalUsuariosActivos(usuarios) {
        var usuariosActivos = usuarios.filter(function (u) {
            return u.Habilitado === true;
        });
        var totalUsuariosActivos = usuariosActivos.length;
        $('div.total-usuarios').html('<span>' + totalUsuariosActivos + ' usuarios encontrados.</span>');
    }
//# sourceURL=usuarios.js
</script>
