@using GeoSit.Data.BusinessEntities.ObrasParticulares;

@model IEnumerable<Inspector>

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap-calendar/css/calendar.css" rel="stylesheet">

<div class="modal fade theme_new" id="modal-window-informe-inspecciones" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="modal-windowLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="scroll-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="lblModal">@Resources.Recursos.InformeInspeccionesPorPeriodo</h3>
                    <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
                </div>
                <div id="formularioInspecciones" class="modal-body inspectores-body">
                    <div id="body-content" class="body-content inspectores-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <h5>Fechas</h5>
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label class="col-xs-3 control-label text-muted">
                                                Desde:
                                            </label>
                                            <div class="col-xs-9">
                                                <div class="input-group date form_datetime soloFecha">
                                                    @Html.TextBox("fechaDesde", string.Empty, new { @id = "fechaDesde", @class = "form-control" })
                                                    <span class="input-group-addon"><i class="fa fa-calendar fa-lg black cursor-pointer"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="col-xs-3 control-label text-muted">
                                                Hasta:
                                            </label>
                                            <div class="col-xs-9">
                                                <div class="input-group date form_datetime soloFecha">
                                                    @Html.TextBox("fechaHasta", string.Empty, new { @id = "fechaHasta", @class = "form-control" })
                                                    <span class="input-group-addon"><i class="fa fa-calendar fa-lg black cursor-pointer"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xs-12">
                                <h5>@Resources.Recursos.Inspectores</h5>
                                <table id="tablaZona" class="table table-striped table-condensed table-bordered table-responsive" cellspacing="0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th width="60%">@Resources.Recursos.Nombre</th>
                                            <th width="40%">@Resources.Recursos.DNI</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var inspector in Model)
                                            {
                                                string nombre = inspector.Usuario.Apellido + " " + inspector.Usuario.Nombre;
                                                if (!inspector.Usuario.Habilitado)
                                                {
                                                    nombre = "* " + nombre;
                                                }
                                                <tr data-id="@inspector.InspectorID">
                                                    <td width="60%">@nombre</td>
                                                    <td width="40%">@inspector.Usuario.Nro_doc</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div style="padding-left:3em">@Resources.Recursos.UsuarioDesactivo</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="botones-modal-info">
                    <div class="col-xs-4 pull-right">
                        <span id="aceptar-informe-periodo" aria-hidden="true" aria-controls="button" data-placement="right" title="Aceptar" data-original-title="Aceptar" class="fa fa-check-circle light-blue fa-3x cursor-pointer"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Información-->
<div class="modal fade theme_new mensaje" id="ModalInfoInspector" tabindex="-3" role="dialog" aria-labelledby="TituloInfo" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="TituloInfoInspector">@Resources.Recursos.InformeInspeccionesPorPeriodo</h3>
                <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal"></span>
            </div>
            <div class="modal-body">
                <div id="MensajeInfoInspector" class="alert alert-info alert-dismissible" role="alert">
                    <p id="DescripcionInfoInspector"></p>
                </div>
            </div>
            <div class="modal-footer" id="botones-modal-info">
                <div class="col-xs-4 pull-right">
                    <span id="btnAceptarAlert" aria-hidden="true" data-dismiss="modal" data-placement="right" title="Aceptar" data-original-title="Aceptar" class="fa fa-check-circle light-blue fa-3x cursor-pointer"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ajustarmodal() {
        var altura = $(window).height() - 190;
        $(".inspectores-body").css({ "height": altura });
        $('.inspectores-content').css({ "height": altura, "overflow": "hidden" });
        ajustarScrollBars();
    }
    function getDataTableOptions() {
        return {
            dom: "tp",
            paging: true,
            language: {
                url: BASE_URL + 'Scripts/dataTables.spanish.txt'
            }
        };
    }
    $("#aceptar-informe-periodo").click(function () {
        showLoading();
        var formData = {
            "FechaDesde": $("#fechaDesde").val(),
            "FechaHasta": $("#fechaHasta").val(),
            "Inspectores": $("#tablaZona").DataTable().rows(".selected").nodes().map(function (nodo) { return $(nodo).data("id"); }).toArray()
        };

        $.ajax({
            url: BASE_URL + 'Inspeccion/GenerateInformeInspeccionesPorPeriodo',
            type: 'POST',
            data: formData,
            success: function (data) {
                window.open(BASE_URL + "Inspeccion/GetFileInformeInspeccionesPorPeriodo?file=" + data.file);
            },
            error: function (err, _, errorThrown) {
                if (err.status == 404) {
                    alerta('Inspecciones', 'No se encontraron inspecciones para los filtros seleccionados', 4);
                } else {
                    alerta('Error', errorThrown, 3);
                }
            },
            complete: hideLoading
        });
    });
</script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-calendar/components/underscore/underscore-min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-calendar/js/language/es-ES.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.numeric.min.js"></script>
<script type="text/javascript" src="~/Scripts/Inspeccion/InformeInspecciones.js"></script>
