@model ICollection<GeoSit.Client.Web.Models.ObrasPublicas.ObjetoInfraestructuraModel>

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-switch.css" rel="stylesheet" />
<link href="~/Content/css/select2.css" rel="stylesheet" />
<link href="~/Content/select2-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/formValidation.min.css" rel="stylesheet" />
<link href="~/Content/ObrasPublicas.css" rel="stylesheet" />

<div class="modal fade theme_new" id="modal-window-infraestructura" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="modal-windowLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="scroll-content-infraestructura" class="scroll-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="lblModal">@Resources.Recursos.MantenimientoInfraestructura</h3>
                    <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
                </div>
                <div class="modal-body infraestructura-body">
                    <div class="body-content">
                        <div class="col-xs-12 remove-padding" id="infraestructura-datos">
                            <div id="mensaje-salida-infraestructura" class="alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Atención!</strong> <label id="lbl-msg-infraestructura"></label>
                            </div>
                            <div class="panel-group accordion" id="accordion-infraestructura">
                                <div class="section-position">
                                    <div class='panel-heading bg-primary main-heading' id='headingBusqueda'>
                                        <a data-toggle='collapse' data-parent='#accordion-infraestructura' href='#collapseBusqueda' aria-expanded='true'
                                           aria-controls='collapseBusqueda'>
                                            <div class='panel-title'>
                                                Búsqueda de Objetos de Infraestructura
                                                <i class="fa"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id='collapseBusqueda' class='panel-collapse collapse in main-collapse' aria-labelledby="headingBusqueda">
                                        <div class="panel-body" style="margin: 10px 20px;">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-xs-3 control-label text-right">Tipo</label>
                                                    <div class="col-xs-8">
                                                        @Html.DropDownList("CmbTipoObjeto", (ViewBag.TipoObjetoList as System.Collections.Generic.IEnumerable<SelectListItem>), new { id = "CmbTipoObjeto", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-xs-3 control-label text-right">Sub Tipo</label>
                                                    <div class="col-xs-8">
                                                        @Html.DropDownList("CmbSubTipoObjeto", Enumerable.Empty<SelectListItem>(), new { id = "CmbSubTipoObjeto", @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Atributo</label>
                                                    @Html.DropDownList("CmbAtributo", Enumerable.Empty<SelectListItem>(), new { id = "CmbAtributo", @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Comparador</label>
                                                    @Html.DropDownList("CmbComparador", (ViewBag.ComparadorList as System.Collections.Generic.IEnumerable<SelectListItem>), new { id = "CmbComparador", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Valor</label>
                                                    <div id="valorContainer">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label>Conector</label>
                                                    @Html.DropDownList("CmbConector", (ViewBag.ConectorList as System.Collections.Generic.IEnumerable<SelectListItem>), new { id = "CmbConector", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-xs-11">
                                                <table id="Grilla_Consulta" class="table table-responsive">
                                                    <thead class="hidden">
                                                        <tr>
                                                            <th></th>
                                                            <th>Nombre</th>
                                                            <th>Comparador</th>
                                                            <th>Valor</th>
                                                            <th>Conector</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbody_editor">
                                                        @Html.Partial("_DetalleConsulta")
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-xs-1" id="conditions-controls">
                                                <dl>
                                                    <dt><span class="fa fa-2x fa-plus-circle cursor-pointer black" aria-hidden="false" id="btn_AgregarQ"></span></dt>
                                                    <dt><span class="fa fa-2x fa-minus-circle cursor-pointer black boton-deshabilitado" aria-hidden="true" id="btn_EliminarQ"></span></dt>
                                                    <dt><span class="fa fa-2x fa-pencil cursor-pointer black boton-deshabilitado" aria-hidden="true" id="btn_ModificarQ"></span></dt>
                                                    <dt><span class="fa fa-2x fa-eraser cursor-pointer black" aria-hidden="true" id="btn_LimpiarQ"></span></dt>
                                                </dl>
                                            </div>
                                            <div class="col-xs-1" style="bottom: -85px;">
                                                <span class="fa fa-2x fa-search cursor-pointer pull-right" id="btnBuscar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-position">
                                    <div class='panel-heading bg-primary main-heading' id='headingResultado'>
                                        <a data-toggle='collapse' data-parent='#accordion-infraestructura' href='#collapseResultado' aria-expanded='false'
                                           aria-controls='collapseResultado'>
                                            <div class='panel-title'>
                                                Resultados de la búsqueda
                                                <i class="fa"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div id='collapseResultado' class='panel-collapse collapse main-collapse' aria-labelledby="headingResultado">
                                        <div class="panel-body" style="padding-top: 5px; margin-right: 20px;">
                                            <div class="col-xs-11">
                                                <table id="Grilla_Objetos" class="table table-striped table-bordered table-responsive">
                                                </table>
                                            </div>
                                            <div class="col-xs-1" id="objeto-infraestructura-controls">
                                                <dl>
                                                    <dt><span class="fa fa-2x fa-plus-circle cursor-pointer black" aria-hidden="true" id="btn_Agregar"></span></dt>
                                                    <dt><span class="fa fa-2x fa-minus-circle cursor-pointer black boton-deshabilitado" aria-hidden="true" id="btn_Eliminar"></span></dt>
                                                    <dt><span class="fa fa-2x fa-pencil boton-deshabilitado cursor-pointer black" aria-hidden="true" id="btn_Modificar"></span></dt>
                                                    <dt><span class="fa fa-2x fa-map-marker boton-deshabilitado cursor-pointer black" aria-hidden="true" id="btn_Mapa"></span></dt>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-position">
                                    <div id="EditarObjeto">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="infraestructura-mapa" class="col-xs-6 hidden">
                            <div class="panel-group">
                                <div class="section-position">
                                    <div class='panel-heading bg-primary main-heading'>
                                        <a href="javascript:void(0)">
                                            <div class='panel-title'>
                                                Mapa
                                                <div class="col-xs-3 pull-right text-right remove-padding">
                                                    <span class="fa fa-lg fa-eraser cursor-pointer" style="margin-right:15px;" id="btnLimpiar"></span>
                                                    <span class="fa fa-lg fa-check cursor-pointer" style="margin-right:15px;" id="btn-aceptar-mapa"></span>
                                                    <span class="fa fa-times fa-lg cursor-pointer" id="btnCerrarMapa"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="panel-mapa" class="panel-collapse collapse main-collapse in panel-mapa">
                                        <div class="panel-body">
                                            <div id="div-mapa-container" style="width:100%;height:100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="footer-infraestructura">
                    <div class="col-xs-4 pull-right">
                        <span aria-hidden="true" aria-controls="button" data-placement="right" title="Guardar" data-original-title="Guardar" id="btnGrabar" class="fa fa-save fa-2x black cursor-pointer boton-deshabilitado"></span>
                        <span aria-hidden="true" aria-controls="button" data-placement="right" title="Cancelar" data-original-title="Cancelar" id="btnCerrar" class="fa fa-undo fa-2x black cursor-pointer boton-deshabilitado"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade theme_new mensaje" id="confirmModal" tabindex="-2" role="dialog" aria-labelledby="TituloAdvertencia" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="TituloAdvertencia">Titulo</h3>
                <span id="btnCancelarAdvertencia" aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
            </div>
            <div class="modal-body">
                <div id="MensajeAlerta" class="alert alert-warning alert-dismissible" role="alert">
                    <strong>Atención!</strong><br>
                    <p id="DescripcionAdvertencia">"Atención! Está a punto de DAR de BAJA el objeto.<br>Está seguro de continuar?</p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-4 pull-right">
                    <span id="btnAdvertenciaOK" aria-hidden="true" title="Aceptar" aria-controls="button" data-placement="right" class="fa fa-times-circle fa-2x cursor-pointer"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade theme_new mensaje" id="infoModal" tabindex="-2" role="dialog" aria-labelledby="TituloInfo" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="TituloInfo">Titulo</h3>
                <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
            </div>
            <div class="modal-body">
                <div id="MensajeInfo" class="alert alert-dismissible" role="alert">
                    <strong>Atención!</strong><br>
                    <p id="DescripcionInfo">Está a punto de DESACTIVAR al usuario Perez, Juan <br>Está seguro de continuar?</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/formValidation.min.js"></script>
<script src="~/Scripts/bootstrapValidation.min.js"></script>
<script src="~/Scripts/ObjetosInfraestructura/main.js"></script>