@using GeoSit.Client.Web.Models;
@model List<AyudaLineaModel>

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/AyudaLinea.css" rel="stylesheet" />

<div class="modal fade theme_new ayuda" id="modal-window-ayuda" tabindex="-1" data-backdrop="true" role="dialog" aria-labelledby="modal-windowLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="scroll-content-ayuda" class="scroll-content">
                <div class="modal-header">
                    <h3 class="modal-title col-xs-11">Ayuda en Línea</h3>
                    <span aria-hidden="true" class="fa fa-close fa-2x white cursor-pointer pull-right" data-dismiss="modal" aria-label="Cerrar" title="Cerrar"></span>
                </div>
                <div class="modal-body ayuda-body">
                    <div id="body-content" class="body-content ayuda-content">
                        @*Inicio Ayuda en Línea*@
                        @{int i = 0;}
                        @foreach (var t in Model.OrderBy(a => a.Orden).GroupBy(a => a.Seccion))
                        {
                            if (t.Count() == 1)
                            {


                                <div class='panel-title'>
                                    @foreach (var item in t.OrderBy(b => b.Orden))
                                    {
                                        if (item.IdTipo == 1)
                                        {
                                            <a id="head" class='panel-heading bg-primary main-heading' href='@item.URL' target="_blank" style="margin-bottom: 8px">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
                                                    <path d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z" />
                                                    <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z" />
                                                </svg>
                                                &emsp;@item.Descripcion
                                            </a>

                                        }
                                        else
                                        {
                                            <a class='panel-heading bg-primary main-heading' href="javascript:void(0)" video="@item.URL" style="margin-bottom: 8px">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-youtube" viewBox="0 0 16 16">
                                                    <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
                                                </svg>
                                                @item.Descripcion
                                            </a>
                                        }
                                    }

                                </div>
                            }
                            else
                            {
                                <div class='panel-heading bg-primary main-heading' style="margin-bottom: 8px">
                                    <a data-toggle='collapse' data-target="#collapseOne_@i" href='#collapseOne_@i' aria-expanded='true' aria-controls='collapseResultado'>
                                        <div class='panel-title'>
                                            @t.Select(a => a.Seccion).FirstOrDefault()
                                            <span class="glyphicon glyphicon-chevron-down" style="float:right"></span>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseOne_@i" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <table id="Grilla-ayuda" class="table table-striped table-bordered table-responsive" style="margin-top:-8px">
                                            <tbody>
                                                @foreach (var item in t.OrderBy(b => b.Orden))
                                                {
                                                    <tr>
                                                        @if (item.IdTipo == 1)
                                                        {
                                                            <td>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
                                                                    <path d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z" />
                                                                    <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z" />
                                                                </svg>
                                                                <a style="padding-left: 10px" href='@item.URL' target="_blank">@item.Descripcion</a>
                                                            </td>

                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-youtube" viewBox="0 0 16 16">
                                                                    <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
                                                                </svg>
                                                                <a style="padding-left: 10px" href="javascript:void(0)" video="@item.URL">@item.Descripcion</a>
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                i++;
                            }
                        }
                        @*Fin Datos*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div id="visorPdf"></div>-->
<script>

    //////////VIDEO//////////

    $(document).ready(function () {
        $("#modal-window-ayuda").one("shown.bs.modal", function () {
            $("a[video]", this).on("click", function (evt) {
                $("#modalVideoIFrame")
                    .one("hide.bs.modal", function () { YTPlayer.stopVideo(); })
                    .one("show.bs.modal", function () {
                        $("iframe", this).hide();
                    })
                    .one("shown.bs.modal", function () {
                        var titulo = $(evt.target).html(),
                            width = $(".modal-body", this).width(),
                            height = width * .5625;
                        YTPlayer.loadVideoById($(evt.target).attr("video"));
                        $("iframe", this)
                            .attr("title", titulo)
                            .attr("height", height)
                            .attr("width", width)
                            .show();
                        $("#TituloModalIframe", this).html("Tutorial - " + titulo)
                    }).modal("show");
            });
        }).modal("show");
    });


    /////////END VIDEO//////////

    /////////ACCORDION/////////

    $(document).ready(function () {
        $('.collapse').on('show.bs.collapse', function () { //Triggered everytime the collapse is show
            $('.collapse.in').each(function () {//select current collapsed (some versions could be .show instead of .in
                $(this).collapse('show'); //hide previously collapsed
            });
        });
        $('.main-heading').on('click', function () {
            $(this).find('span').toggleClass("glyphicon-chevron-down").toggleClass("glyphicon-chevron-up");
        });
    });

    /////////END ACCORDION/////////

</script>


<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/SubSistemaWEB/AyudaLinea/main.js"></script>
